#title{
    text-align: center;
}

.titleBox{
    border: 1px solid rgba(0, 0, 0, 0.603);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.788);
    background-color: rgb(154, 156, 167); 

}

.centered{
    margin: auto 0;
}

ul >p{
	display: inline-block;
}

#tribute-info ul li{
	margin: auto;
	max-width:600px;
}

#foot{
	
	text-align: center;
}

#foot p:first-child{
	font-style: italic;
}